@{
  Layout = "_Layout";
}
@model SweetSavory.Models.Treat;


<h1>Edit this treat:</h1>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatID)
    @Html.LabelFor(model => model.TreatName)
    @Html.TextBoxFor(model => model.TreatName)

    
    @Html.DropDownList("FlavorID")

    
    

    <input type="submit" value="Edit this treat" class="btn btn-default" />
}