@using SweetSavory.Models

@foreach(Treat treat in @Model)
{
    <p>@treat.TreatName </p>
    @foreach(FlavorTreat flavortreat in treat.Flavors)
    {
        <h2>@flavortreat.Flavor.FlavorName</h2>
    }
    @Html.ActionLink("add flavor to treat", "AddFlavor", "Treat", new {TreatID = treat.TreatID})
    
}